*{
    margin: 0;
    padding: 0;
    }

#conteiner {
    
    background-color: #fff;
}
#header{
    border-style: none;
    background-color: #fff;
    height: 250px;
    border-bottom: solid 3px;
}
#logo{
    border-style: none;
    margin-left: 30px;
    margin-top: 23px;
    height: 200px;
    width: 200px;
    background-color: #f00;
    position: absolute;
}
li:hover{
 background-color: #000;
color:#fff;
}
#htext{
    border-style: none;
    width: 1060px;
    height: 250px;
    margin-left: 23px;
    position: absolute;
    margin-left: 256px;
    padding-left: 60px;
    padding: 125px;
    font-size: 25px;
    
}
#sidebar{
    padding-top: 20px;
    padding-left: 30px;
    width: 240px;
    float: left;
    text-decoration: none;
    list-style: none;
	
    
}
#content{
    border-style: none;
    padding: 25px;
    margin-left: 260px;
    width: 900px;
    text-align: justify;
    border-bottom: solid 3px;
}
#footer{
    margin-top: 25px;
    height: 100px;
    background-color: #000;
    color: aliceblue;
    padding-top: 100px;
    text-align: center;
}